body {
   background-color: darkgoldenrod;
   margin: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

.image1 {
   text-align: center;
}

.image2 {
    text-align: center;
}

h5 {
    text-align: center;
}

p {
    margin: 35px;
}

.image3 {
    text-align: center;
}