.head {
    text-align: center;
}

.title {
    text-align: center;
}

.img {
    text-align: center;
}

.img1 {
    text-align: center;
    height: 1%;
    width: 1%;
}

footer {
    text-align: center;
}